version: '3'

services:
  test:
    build: .
    environment:
      CI: 'true'
    command: npm run testall

  prod:
    build: .
    ports:
      - 80:80

  deploy:
    build:
      context: .
      args:
        FIREBASE_TOKEN:
    command: node ./scripts/deploy.js
